body {
  background-color: aquamarine;
}
.Head {
  margin: 0px;
  margin: 0px solid red;
  /* border-top: 9px solid gold; */
  /* border-bottom: 9px solid gold; */
  height: 72px;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-left: 9px solid gold; */
  /* border-right: 9px solid gold; */
  background: linear-gradient(to right, royalblue, salmon, pink, white);
}
.TodoList {
  height: 300px;
  display: table;
  flex: 80%;
  align-items: flex-start;
}
.todolist {
  color: navy;
  display: grid;
  justify-content: center;
}

.todos {
  display: flex;
  justify-content: center;
  padding: 12px 20px;
  margin: 8px 0;
}

.addtodo {
  display: flex;
  justify-content: center;
}

.clear {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.completed {
  display: flex;
  justify-content: center;
}

.main__header {
  display: flex;
  justify-content: center;
}
