body {
  background-color: aquamarine;
}
.todolist {
  color: navy;
  display: grid;
  justify-content: center;
}

.todos {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  /* box-sizing: border-box; */
}
.the__box {
  /* border: 10px coral; */
}

.addtodo {
  display: flex;
  justify-content: center;
  padding: 12px 20px;
}

.clear {
  display: flex;
  justify-content: center;
  padding: 12px 20px;
}

.completed {
  display: flex;
  justify-content: center;
}

.main__header {
  display: flex;
  justify-content: center;
}
